<section class="extra-padding">
    <div class="container">
        <div class="row">
            <div class="my-4 col-12">
                <h3 class="text-black f-800">Report New Fraud Case</h3>
            </div>
            <div class="py-2 col-12 col-md-6">
                <label class="f-500">Request Date:</label>
                <small class="mx-2">15/11/2022</small>
            </div>
            <div class="py-2 col-12 col-md-6">
                <label class="f-500">Requester Name:</label>
                <small class="mx-2">Mohamed Abdellatif Samy</small>
            </div>
            <div class="py-2 col-12 col-md-6">
                <label class="f-500">Requester Mail:</label>
                <small class="mx-2">LatifSmay@Credit.com</small>
            </div>
            <div class="py-2 col-12 col-md-6">
                <label class="f-500">Requester Department:</label>
                <small class="mx-2">Finance</small>
            </div>
        </div>
        </div>
</section>
<section class="bg-alt">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="my-4 custom-container">
                    <h6 class="text-black f-800">Case Information</h6>
                    <div class="mb-3">
                        <label class="f-500">Case Title<small class="pl-2 d-none text-danger">*</small><small class="pl-2 text-danger">Missing Field</small></label>
                        <input type="text" class="special form-control">
                    </div>
                    <div class="mb-3">
                        <label class="f-500">Case Description<small class="pl-2 text-danger">*</small><small class="pl-2 d-none text-danger">Missing Field</small></label>
                        <textarea rows="2" type="text" class="special form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple"class="f-500">Attachments</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>
                    <div class="mt-4 text-right">
                        <button class="pink-btn">
                            SUBMIT REQUEST
                        </button>
                    </div>
                </div>
            </div>
        </div>
      
        
    </div>
</section>
