<app-homepage-header></app-homepage-header>
<section class="homepage-body pt-5">
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 page-title">
                <h6>Compliance Requests</h6>
            </div>
            <div class="col-md-6 col-12">
                <div class="card mb-3 border-0 w-100">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img src="../../assets/images/Fraud.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h5 class="card-title">FRAUD</h5>
                          <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="#">New Fraud Case<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card mb-3 border-0 w-100">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img src="../../assets/images/Staff.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h5 class="card-title">Staff</h5>
                          <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="#">New Staff Case<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card mb-3 border-0 w-100">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img src="../../assets/images/Monitor.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h5 class="card-title">Monitor</h5>
                          <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="#">New Monitor Case 1<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a>
                            <a class="list-group-item" href="#">New Monitor Case 2<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a> 
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card mb-3 border-0 w-100">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img src="../../assets/images/sanity.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h5 class="card-title">Sanctions</h5>
                          <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="#">New Sanctions Case 1<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a>
                            <a class="list-group-item" href="#">New Sanctions Case 2<fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon></a> 
                          </ul>
                          <div class="text-right">
                            <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><small class="text-muted">View All</small></a>
      
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
         

        </div>
    </div>
</section>