<section class="extra-padding">
    <div class="container">
        <div class="row">
            <div class="mt-3 col-12">
                <h3 class="text-black f-800">Archeived Requests</h3>
            </div>
        </div>
        </div>
        </section>
        <section class="bg-alt">
          <div class="container">

       
        <div class="row">
            <div class="col-12">
                <div class="my-1 mb-4 custom-container">
                    <h6 class="text-black mb-2 f-800">Completed Cases</h6>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">Request #</th>
                                <th scope="col">Request Date</th>
                                <th scope="col">Requester Department</th>
                                <th scope="col">Case Title</th>
                                <th scope="col">History</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>25/11/2022</td>
                                <th scope="col">General</th>
                                <td>Incomplete Statements</td>
                                <td><button class="pink-btn"><fa-icon class="text-pink" [icon]="faEye"></fa-icon></button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>25/11/2022</td>
                                <th scope="col">Credits</th>
                                <td>Incomplete Statements</td>
                                <td><button class="pink-btn"><fa-icon class="text-pink" [icon]="faEye"></fa-icon></button></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>25/11/2022</td>
                                <th scope="col">Finance</th>
                                <td>Incomplete Statements</td>
                                <td><button class="pink-btn"><fa-icon class="text-pink" [icon]="faEye"></fa-icon></button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    
                </div>
            </div>
        </div>
       
    </div>
</section>
