<section class="homepage-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5">
                <h2 class="text-light-gray f-800">Welcome to the Fraud Case Reporting Portal</h2>
                <button class="white-btn-100 my-4">
                    <h6 class="f-500 text-black">Report New Fraud Case</h6>
                    <fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon>
                </button>
                <h6 class="text-light-gray f-500">Here's a brief Summary of all Cases</h6>
                <button class="white-btn-100 my-2">
                    <h6 class="f-500 text-black">15 Active Cases</h6>
                    <fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon>
                </button>
                <button class="white-btn-100 my-2">
                    <h6 class="f-500 text-black">128 Archeived Cases</h6>
                    <fa-icon class="text-pink" [icon]="faArrowRightLong"></fa-icon>
                </button>
            </div>
        </div>
        
    </div>


</section>