
    <div class="mb-3">
        <label class="f-500">Case Title</label>
        <p class="disabled-text">Man writes empty checks</p>
    </div>
    <div class="mb-3">
        <label class="f-500">Case Description</label>
        <p class="disabled-text">A man walked in one day, he had a gun.. turns out it's a lighter (oldest trick in the book), no felony but neither was it safe.
            Anyway, man has traveller's checkbook but it's full with mickey mouse stickers. Funny? No.
        </p>
    </div>
    <div class="mb-3">
        <label for="formFileMultiple"class="f-500">Attachments</label>
        <ul>
            <li class="disabled-text">File Name 1 
                <button class="pl-2 pink-btn">
                <Small>DOWNLOAD</Small>
            </button>
            </li>
            <li class="disabled-text">File Name 2 
                <button class="pl-2 pink-btn">
                <Small>DOWNLOAD</Small>
            </button>
            </li>
        </ul>
    </div>
  