<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.svg" alt="" width="35" height="35">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Active Requests</a>
          <a class="nav-link" href="#">Archieve</a>
          <button class="nav-link action-btn"><fa-icon class="text-pink" [icon]="faPlus"></fa-icon>New Request</button>
        </div>
      </div>
    </div>
  </nav>