<!-- case request more info -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="f-500">Action</label>
                <select class="form-control special">
                    <option selected disabled></option>
                    <option value="1">Request More Information</option>
                    <option value="2">Fraud</option>
                    <option value="3">Not Fraud</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="f-500">Request From<small class="pl-2 text-danger">*</small></label>
                <select class="form-control special">
                    <option selected disabled></option>
                    
                </select>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="mb-3">
                <label class="f-500">Comment:<small class="pl-2 text-danger">*</small><small class="pl-2 d-none text-danger">Missing Field</small></label>
                <textarea rows="2" type="text" class="special form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple"class="f-500">Attachments</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </div>
        <div class="mt-4 text-right">
            <button class="pink-btn">
                SEND
            </button>
        </div>
    </div>
    <div class="row d-none">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="f-500">Action</label>
                <select class="form-control special">
                    <option selected disabled></option>
                    <option value="1">Request More Information</option>
                    <option value="2">Fraud</option>
                    <option value="3">Not Fraud</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="mb-3">
                <label class="f-500">Comment:<small class="pl-2 text-danger">*</small><small class="pl-2 d-none text-danger">Missing Field</small></label>
                <textarea rows="2" type="text" class="special form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple"class="f-500">Attachments</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
        </div>
        <div class="mt-4 text-right">
            <button class="pink-btn">
                Submit
            </button>
        </div>
    </div>
    <div class="row d-none">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="f-500">Action</label>
                <select class="form-control special">
                    <option selected disabled></option>
                    <option value="1">Request More Information</option>
                    <option value="2">Fraud</option>
                    <option value="3">Not Fraud</option>
                </select>
            </div>
        </div>
        <div class="col-12 mt-4 text-right">
            <button class="pink-btn">
                Submit and Close Case
            </button>
        </div>
    </div>
</div>
    