<section class="large-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome-text">
                    <h6>Credite Agricole</h6>
                    <h2>Welcome to the Compliance System</h2>
                </div>
            </div>
            <div class="col-md-6 pr-0">
                <img class="img img-fluid" src="../../assets/images/DSC_9114-725x400.jpg">
            </div>
        </div>
    </div>
</section>
<section class="small-header">
    <div class="container">
        <div clas="row d-flex justify-content-center">
            <div class="col-md-10 col-12">
                <div class="welcome-text rounded">
                    <h6>Credite Agricole</h6>
                    <h2>Welcome to the Compliance System</h2>
                </div>
            </div>
        </div>
       
    </div>
</section>